<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.redbus" android:versionName="1.0.29" android:versionCode="30">
	
	<application android:label="@string/app_name" android:icon="@drawable/icon">
	    
		<activity android:name="RedbusTabView" android:label="Edinburgh Bus Tracker">
			  <intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		
		<activity android:name="StopBookmarksActivity" android:label="Edinburgh Bus Tracker">
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter> --> 
		</activity>
		
		<activity android:name="CreateShortcutActivity"
              android:label="Create shortcut"
              android:theme="@android:style/Theme.Dialog">
        	<intent-filter>
				<action android:name="android.intent.action.MAIN" />
        	</intent-filter>
		</activity>
        
		<activity-alias android:name="CreateShortcutActivity"
			android:targetActivity="CreateShortcutActivity"
			android:label="Edinburgh bus stop">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity-alias>
		
		
		<activity android:name="BusTimesActivity" android:label="Bus Times" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>    	
		<activity android:name=".StopMapActivity" android:label="Map" />
		<uses-library android:name="com.google.android.maps" />
		<receiver android:name=".alarm.TemporalAlarmReceiver"/>
		<receiver android:name=".alarm.ProximityAlarmReceiver"/>
		<receiver android:name=".AlertNotificationPressedReceiver"/>
	</application>

	<uses-sdk android:minSdkVersion="3" />
	<supports-screens android:smallScreens="true" />
	<supports-screens android:largeScreens="true" />
	<supports-screens android:resizeable="true" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
