<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.redbus" android:versionCode="18" android:versionName="1.0.17">
	<application android:label="@string/app_name" android:icon="@drawable/icon">


		<activity android:name="StopBookmarksActivity" android:label="Edinburgh Bus Tracker">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		
		<activity android:name="BusTimesActivity" android:label="Bus Times" />
		<activity android:name="StopMapActivity" android:label="Map" />
		<uses-library android:name="com.google.android.maps" />
	<receiver android:name=".TemporalAlarmReceiver"></receiver>
	<receiver android:name=".ProximityAlarmReceiver"></receiver>

<receiver android:name=".AlertNotificationPressedReceiver"></receiver>
</application>


	<uses-sdk android:minSdkVersion="3"></uses-sdk>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>



<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 